<!doctype html>
<html ng-app="ssMock">
  <head>
      <!-- boilerplate -->
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.js"></script>
      <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-animate.js"></script>
      <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>

      <!-- ssMock -->
      <script src="homeService.js"></script>
      <script src="homeController.js"></script>
      <link rel="stylesheet" href="../assets/css/ssMock.css" type="text/css">

      <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div ng-controller="homeController" style="margin-top:50px; margin-left:30px; margin-right:30px">
      <script type="text/ng-template" id="group-template.html">
        <div class="panel {{panelClass || 'panel-default'}}">
          <div class="panel-heading">
            <h4 class="panel-title" style="color:#fa39c3">
              <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" accordion-transclude="heading">
                <span accordion-header ng-class="{'text-muted': isDisabled}">
                  {{heading}}
                </span>
              </a>
            </h4>
          </div>
          <div class="panel-collapse collapse" collapse="!isOpen">
            <div class="panel-body" style="text-align: right" ng-transclude></div>
          </div>
        </div>
      </script>

      <uib-accordion close-others="oneAtATime">

        <!-- Servers -->
        <uib-accordion-group ng-repeat="server in serverGroups" is-open="isopen">
            <uib-accordion-heading ng-click="isopen = !isopen">
              <div>
                  <i class="glyphicon" ng-class="{'glyphicon-chevron-down': isopen, 'glyphicon-chevron-right': !isopen}" style="margin-right:15px"></i>
                  {{server.title}}
                  <div class="pull-right status-column">
                      <span ng-class="server.cssClass">{{server.symbol}}</span>
                      {{server.status}}
                  </div>          
              </div>
            </uib-accordion-heading>

          <!-- Service Groups -->
          <uib-accordion close-others="oneAtATime">
            <uib-accordion-group ng-repeat="group in server.serviceGroups" is-open="isServerOpen">
              <uib-accordion-heading ng-click="isServerOpen = !isServerOpen">
                <div>
                    <i class="glyphicon" ng-class="{'glyphicon-chevron-down': isServerOpen, 'glyphicon-chevron-right': !isServerOpen}" style="margin-right:15px"></i>
                    {{group.title}}
                    <div class="pull-right status-column" style="margin-right:20px">
                      <span ng-class="group.cssClass">{{group.symbol}}</span>
                        {{group.status}}
                    </div>
                </div>
              </uib-accordion-heading>
                
              <!-- Services -->
              <table>
                <tr ng-repeat="service in group.services">
                  <td class="service-name-column">{{ service.title }}</td>
                  <td class="status-indicator">
                      <span ng-class="service.cssClass">{{service.symbol}}</span>
                  </td>
                  <td class="status-column">{{ service.status }}</td>
                </tr>
              </table>
            </uib-accordion-group>
          </uib-accordion>
        </uib-accordion-group>
      </uib-accordion>
    </div>
  </body>
</html>
