<uib-accordion close-others="oneAtATime">
    <uib-accordion-group ng-repeat="item in collection" is-open="isOpen">
        <uib-accordion-heading ng-click="isOpen = !isOpen">
            Inside uib-accordion-heading:{{$id}}
            <div>
                <i class="glyphicon" ng-class="{'glyphicon-chevron-down': isOpen, 'glyphicon-chevron-right': !isOpen}" style="margin-right:15px"></i>
                {{item.title}}
                <div class="pull-right status-column">
                    <span ng-class="item.cssClass">{{item.symbol}}</span>
                    {{item.status}}
                </div>
            </div>
        </uib-accordion-heading>

        Inside uib-accordion-group:{{$id}}
        <div ng-transclude></div>

    </uib-accordion-group>
</uib-accordion>